.popupContainer {
  position: relative;
  width: 160px;
  height: auto;
  overflow: hidden;
  text-align: center;
  cursor: pointer;

  h3 {
    margin: 0;
    padding: 12px 24px;
    color: #333;
  }
}

.hasImages {
  .popupContainer {
    height: 160px;

    h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
  }
}
