.comboBox {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  .inputWrapper {
    flex: 1;
    position: relative;
  }
  .comboInput {
    width: 100%;
  }
  .clear {
    background-color: transparent;
    position: absolute;
    top: 4px;
    right: 2px;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
  }

  .add {
    background-color: #3e8bca;
    margin: 4px 0 4px 4px;
    padding: 4px;
    width: 28px;
    color: white;
    border-radius: 2px;
    line-height: 14px;
    font-size: 14px;
  }
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #777;
  border-top: none;
  z-index: 1;
  max-height: 80vh;
  overflow-y: scroll;
  font-size: 12px;
  max-height: 150px;

  .option {
    line-height: 1em;
    padding: 8px;
    text-decoration: none;
  }
  .option:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
