.tabs {
}

.tabHeadings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6px;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  border: 1px solid #1e74bc;
  cursor: pointer;
  padding: 12px;
  color: #333;
}

.label.checked {
  background: #1e74bc;
  color: white;
}

.tabContent {
  position: relative;
  display: flex;
}

.panel {
  visibility: hidden;
  width: 100%;
  margin-right: -100%;
}

.panel.checked {
  visibility: visible;
}
