.tabs {
}

.tabHeadings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6px;
  border-bottom: 1px solid #3e8bca;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  padding: 12px;
  color: #3e8bca;
  margin-bottom: -1px;
}

.label.checked {
  color: #333;
  border-color: #3e8bca #3e8bca #fff;
}

.tabContent {
  position: relative;
  display: flex;
  margin: 8px 0;
}

.panel {
  visibility: hidden;
  width: 100%;
  margin-right: -100%;
}

.panel.checked {
  visibility: visible;
}
