/* Leaflet */
.leaflet-interactive,
.leaflet-popup-content-wrapper,
.leaflet-popup-content,
.leaflet-popup-content .content {
  /* cursor: pointer; */
}

div.leaflet-popup-content-wrapper {
  padding: 0;
  position: relative;
  /* overflow: hidden; */
}

div.leaflet-popup-content {
  width: auto !important;
  min-width: 160px;
  max-width: 320px;
  margin: 0;
}

div.selected-search-result {
  padding: 10px;
}

a.leaflet-popup-close-button {
  color: #333;
}

.leaflet-popup-close-button span {
  font-size: 20px;
  line-height: 20px;
}

.has-images .leaflet-popup-tip {
  background: #303030;
}

.has-images a.leaflet-popup-close-button {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-top-right-radius: 12px;
}

.has-images a.leaflet-popup-close-button span {
  color: white;
}

.leaflet-control-attribution {
  display: none;
}

.crosshair-cursor-enabled .leaflet-container {
  cursor: crosshair;
}

/* react-image-gallery */
button.image-gallery-left-nav svg.image-gallery-svg,
button.image-gallery-right-nav svg.image-gallery-svg {
  height: 60px;
  width: 30px;
}

.image-gallery-content .image-gallery-slide img.image-gallery-image {
  max-height: 400px;
}

.leaflet-control-geosearch form {
  padding-right: 24px;
}

.leaflet-control-container .geosearch form button.reset {
  position: absolute;
  right: 6px;
  top: -2px;
  background: transparent;
  border: 0;
  font-size: 20px;
}
