/* Leaflet */
.leaflet-interactive,
.leaflet-popup-content-wrapper,
.leaflet-popup-content,
.leaflet-popup-content .content {
  /* cursor: pointer; */
}

.leaflet-popup-content {
  width: auto !important;
}

.leaflet-control-attribution {
  display: none;
}

.crosshair-cursor-enabled .leaflet-container {
  cursor: crosshair;
}

/* react-image-gallery */
button.image-gallery-left-nav svg.image-gallery-svg,
button.image-gallery-right-nav svg.image-gallery-svg {
  height: 60px;
  width: 30px;
}

.image-gallery-content .image-gallery-slide img.image-gallery-image {
  max-height: 400px;
}
