.formWrapper {
  padding: 18px;
  min-width: 320px;
  max-width: 480px;
}

.heading {
  margin: 0;
  margin-bottom: 12px;
}

.spotForm {
  display: flex;
  flex-direction: column;
  input {
    flex: 1;
  }
}

.galleryWrapper {
  position: relative;
  max-height: 200px;
  margin-bottom: 12px;
}

.removeFileButton {
  color: #b72020;
  background: none;
  border: none;
  outline: inherit;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}

.buttonWrapper {
  display: flex;
  align-items: center;

  button.deleteSpot {
    flex-grow: 0;
    padding: 8px 10px;
    background-color: #ce4d41;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    margin-right: 4px;
  }

  button.saveSpot {
    flex-grow: 1;
    border-radius: 2px;
  }
}
