.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding: 24px;
  font-size: 20px;
  &.success {
    background-color: #5cb85c;
  }

  &.warning {
    background-color: #f0ad4e;
  }

  &.error {
    background-color: #bb2124;
  }
  &.info {
    background-color: #5bc0de;
  }
}
