@import "../../styles/colors.module.scss";
@import "../../styles/spacing.module.scss";

.backdrop {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block;
  position: relative;
  width: 80%;
  min-width: 300px;
  max-width: 720px;
  max-height: 90%;
  background-color: white;
  border: none;
  padding: 24px;
  overflow: scroll;

  button,
  a {
    font-size: 24px;
    cursor: pointer;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
