.navBar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #3e8bca;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 320px;

  h1 {
    color: white;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    line-height: 50px;
  }
}
.iconWrapper {
  align-self: flex-end;
  margin-right: 10px;

  button.icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    background: transparent;
    color: white;
    font-size: 24px;
    line-height: 24px;
    vertical-align: bottom;

    &.large {
      font-size: 29px;
      line-height: 29px;
      margin-bottom: -2px;
    }

    svg path {
      stroke: white;
    }
  }
}
