.combobox {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  .comboInput {
    flex: 1;
  }
  .clear {
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
  }
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #777;
  border-top: none;
  z-index: 1;
  max-height: 80vh;
  overflow-y: scroll;

  .option {
    line-height: 1em;
    padding: 4px 8px;
    text-decoration: none;
  }
  .option:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
