.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block;
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;
  border: none;
  button,
  a {
    font-size: 24px;
    cursor: pointer;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.googlemaps {
  fill: #1aa260;
}
