.tile {
  position: relative;
  display: inline-block;
  padding: 0;
  flex-grow: 1;
  min-width: 160px;
  max-width: 260px;
  aspect-ratio: 1 / 1;
  background-color: white;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .topBanner,
  .bottomBanner {
    position: absolute;
    left: 0;
    right: 0;

    color: white;
    padding: 0.25rem;
    margin: 0;
  }

  .topBanner {
    top: 0;
    background-color: rgba(44, 44, 44, 0.7);
    z-index: 1;
  }

  .bottomBanner {
    bottom: 0;
    text-align: right;
  }
}

.coverImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.googlemaps {
  fill: #1aa260;
}

.edit path {
  stroke: #eee;
}

.imageWrapper {
  position: relative;
  height: 100%;
  // best not to add styles here, instead pass styles through via wrapperClassName
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3px;
  cursor: pointer;
  background: #e0e0e0;
  height: 30px;
  width: 34px;

  &:hover {
    background: #c0c0c0;
  }
}
